<!-- templates/friends_list.html -->
{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}<br><br>
<u>Add a friend</u>
<form method="post">
    {% csrf_token %}
    {{ friend_form.as_p }}
    <button type="submit" name="friend"> Add</button>
</form>
<br><u><a href="{% url 'create_transaction' user.id %}">Add an Expense</a></u>
<h1>Friend List</h1>
{% for relationship in users %}
    <p>{{ relationship.receiver_id.username }} {{ relationship.net_balance }}</p>
    <!-- FIX net balance as the difference -->
{% endfor %}
<br><u><a href="{% url 'create_group' user.id %}">Create a new Group</a></u>
<h1>Group List</h1>
{% for group in groups %}
    <p><a href="{% url 'create_transaction' group.id %}">{{ group.grp_name }}</a></p>
{% endfor %}

{% else %}
  <p>SplitWise!</p>
  <a href="{% url 'login' %}">login</a><br>
  <a href="{% url 'signup' %}">Signup</a>
{% endif %}

{% endblock %}