<!-- templates/relationships.html -->
{% extends 'base.html' %}

{% load extras %}
{% block content %}
<h1><p>{{ receive_user.firstname }}</p></h1>
<h2>Current Balance</h2>
<p>{{ relationship21.net_balance|sub:relationship12.net_balance}}</p>
<br>
<form method="post">
	{% csrf_token %}
	{{form.as_p}}
	<button type="submit">Add</button>
</form>
<br>
<h2>Non Group Transactions</h2>
{% for trans in non_group_transactions %}
	{% if trans.relation_id.id == relationship21.id %}
    <p>{{ trans.trans_id.trans_name }} {{ trans.amt_exchanged }}</p>
    {% endif %}
	{% if trans.relation_id.id == relationship12.id %}
    <p>{{ trans.trans_id.trans_name }} {{ 0|sub:trans.amt_exchanged }}</p>
    {% endif %}

{% endfor %} 
<h2>Groups</h2>
{% endblock %}