<!-- templates/relationships.html -->
{% extends 'base.html' %}

{% load extras %}
{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}<br>
<h2><p>{{ receive_user.username }}</p></h2>

<h2>Current Balance</h2>
<p>{{ balance }}</p>

<form method="post">
	{% csrf_token %}
	{{form.as_p}}
	<button type="submit">Add</button>
</form>
<br>
<a href="/users/friend/{{ active_user.id }}/{{ receive_user.id }}/settle">Settle Up Transactions</a>
<br>
<h2>Non Group Transactions</h2>
{% for trans in non_group_transactions %}
	{% if trans.relation_id.id == relationship21.id %}
    <p>{{ trans.trans_id.trans_name }} {{ trans.amt_exchanged }}</p>
    {% endif %}
	{% if trans.relation_id.id == relationship12.id %}
    <p>{{ trans.trans_id.trans_name }} {{ 0|sub:trans.amt_exchanged }}</p>
    {% endif %}

{% endfor %} 
<h2>Groups</h2>
{% for key,values in final_group.items %}
	<p>{{ key.grp_name }} {{ values }}</p>

{% endfor %}
{% endif %}
{% endblock %}